<!-- views/filter-sort.ejs -->

<!-- https://www.geeksforgeeks.org/html/html-dropdown/ -->

<div class="filter-sort">
    <div class="dropdown">
        <button class="dropbtn">Select Items</button>
        <div class="dropdown-content">
            <input type="checkbox" id="item1"
                value="HTML"><label for="item1">HTML</label><br>
            <input type="checkbox" id="item2"
                value="CSS"><label for="item2">CSS</label><br>
            <input type="checkbox" id="item3"
                value="JavaScript"><label for="item3">JavaScript</label><br>
        </div>
    </div>

    <button onclick="submitSelection()" class="submit button">Submit</button>
</div>