<!-- views/partials/footer.ejs -->

<footer class="footer">
    <div align="center">
        <%- include("./search.ejs") %><br>
        
        <a href="/">Index</a><br><br>
        <a href="/medicinal">All Medicinal Uses</a> | <a href="/plants">All Plants</a><br>
        <a href="/medicinal/new">Add New Medicinal Use</a> | <a href="/plants/new">Add New Plant</a>
    </div>
</footer>