<!-- views/partials/footer.ejs -->

<footer>
    <div align="center">
        <a href="/">Back to Index</a><br>
        <a href="/medicinal">All Medicinal Uses</a> | <a href="/plants">All Plants</a>
    </div>
</footer>