<!-- views/partials/nav.ejs -->

<div class="nav">        
    <button onclick="window.location.href='/';" class="button">Index</button><br><br>
    <button onclick="window.location.href='/medicinal';" class="button">Medicinal Uses</button> <button onclick="window.location.href='/plants';" class="button">Plants</button><br>
    <button onclick="window.location.href='/medicinal/new';" class="button">Add Medicinal Use</button> <button onclick="window.location.href='/plants/new';" class="button">Add Plant</button><br><br>

    <%- include("./search.ejs") %>
</div>
