<!-- views/filter-results.ejs -->

<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="filter-results content">
        <h1><%= title %></h1>

        <p>filter results go here</p>
    </div>
    <%- include("./partials/footer.ejs") %>

</body>
</html>