<!-- views/medicinal.ejs -->

<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
  <body>
    <div class="all-medicinal content">
      <h1><%= title %></h1>
      <% if (medicinal_uses.length === 0) { %>
        <p>No medicinal uses found.</p>
      <% } else { %>
        <ul class="stacked-list">
          <% medicinal_uses.forEach(use => { %>
            <li class="list-item">
              <a href="/medicinal/<%= use.id %>" class="list-link">
                <div class="list-content">
                  <div class="list-main">
                    <p class="list-title"><%= use.use_name %></p>
                  </div>
                </div>
                <svg class="chevron-icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </div>    
  </body>
</html>