<!-- views/medicinal.ejs -->

<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
  <body>
    <div class="all-medicinal content">
      <h1><%= title %></h1>
      <% if (medicinal_uses.length === 0) { %>
        <p>No medicinal uses found.</p>
      <% } else { %>
        <ul>
          <% medicinal_uses.forEach(use => { %>
            <li><a href="/medicinal/<%= use.id %>"><%= use.use_name %></a></li>
          <% }) %>
        </ul>
      <% } %>
    </div>    
  </body>
</html>