<!-- views/search-results.ejs -->

<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="search-results content">
        <p>Search results page</p>
    </div>
    
    <%- include("./partials/footer.ejs") %>

</body>
</html>