<!-- views/sort-results.ejs -->

<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="sort-results content">
        <h1><%= title %> (<%= sortResults.length%>)</h1>
        <!-- display sorted plants here -->

    </div>
    <%- include("./partials/footer.ejs") %>

</body>
</html>