/* public/css/medicinal.css */

/* shared medicinal uses display */
.stacked-list {
    list-style: none;
    margin: 1.5rem 0;
    padding: 0;
    margin: 0 auto; /* centers the container */
    margin-bottom: 1.875rem;
}

/* all medicinal uses list */
.medicinal-list {
    max-width: 35rem;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.medicinal-list .list-item {
    background-color: #FFFFFF;
    border: 0.0625rem solid #BCBAAF;
    border-radius: 0.5rem;
    overflow: hidden;
}

/* plant detail medicinal uses list */
.plant-med-list {
    background-color: #F5F4ED;
    border: 0.0625rem solid #BCBAAF;
    border-radius: 0.5rem;
    overflow: hidden;
}

.plant-med-list .list-item {
    border-bottom: 0.0625rem solid #BCBAAF;
}

.plant-med-list .list-item:last-child {
    border-bottom: none;
}

.list-link {
    color: #262624;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: inherit;
    transition: background-color 150ms ease;
}

.list-link:hover {
    background-color: #F5F4ED;
}

.list-link:focus {
    outline: none;
    background-color: #FFFFFF;
}

.plant-list-link:hover {
    background-color: #FFFFFF;
}


.list-content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.list-main {
    min-width: 0;
}

.list-title {
    color: #30302E;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.list-count {
    font-size: 0.7rem;
}

.chevron-icon {
    width: 1.05rem;
    height: 1.05rem;
    flex-shrink: 0;
    color: #000000;
}

.medicinal-name, .medicinal-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.medicinal-name {
    margin-bottom: 0;
}

.control-buttons {
    justify-content: center;
}

/* plant details medicinal uses display */
.plant-medicinal {
    padding-left: 2rem; /* match plant-name-lg padding */
    padding-right: 2rem; /* match left padding */
    padding-bottom: 0;
}

/* if no medicinal uses assigned */
.no-uses {
    color: #000000;
    padding-bottom: 2rem;
}