/* public/css/plants.css */

/* all plants display */
.plant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    padding-top: 1.875rem; 
    padding-bottom: 1.875rem;
    max-width: calc((24rem * 3) + (1.25rem * 2));
    margin: 0 auto; /* centers the container */
}

/* individual plant cards */
.plant-card {
    background: #FFFFFF;
    border: 0.063rem solid #BCBAAF;
    border-radius: 0.95rem; 
    /* 
    box-shadow: 0 0.75rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    */
    transition-duration: 0.4s;
    overflow: hidden; /* keep background contained */
    display: flex;
    flex-direction: column;
}

.card-sm {
    width: 17rem; 
    height: 21rem; 
}

.card-lg {
    width: 37.5rem; 
    min-height: 52.5rem;
}

.card-img-lg-wrapper,
.card-img-sm-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C8DDA0;
}

.card-img-lg-wrapper {
    width: 37.5rem;
    height: 35rem; 
}

.card-img-sm-wrapper {
    width: 17rem;
    height: 14rem; 
}

.card-img {
    object-fit: cover; /* crop image to fill space */
    object-position: center; /* centers crop */
    display: block; /* removes inline spacing below image */
    transition: filter 0.4s; /* smooth transition for filter effect TODO: remove if not using hover effect */
}

.card-img-placeholder-lg,
.card-img-placeholder-sm {
    color: #3A6B10;
}

.card-img-placeholder-lg {
    font-size: 6rem;
}

.card-img-placeholder-sm {
    font-size: 3rem;
}

.img-sm {
    width: 17rem;
    height: 14rem; 
}

.img-lg {
    width: 37.5rem;
    height: 35rem; 
}

.card-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit; /* keep text color */
    flex: 1; /* allow link to grow and fill space */
}

/*
.card-sm:hover {
    cursor: pointer;
    background-color: #f0f0f0; 
}

.card-sm:hover .card-img {
    filter: grayscale(40%); 
}
*/

/* plant names display */
.plant-name-sm {
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.common-name-sm,
.scientific-name-sm {
    display: block;
}

.common-name-sm {
    font-size: 0.95rem;
    color: #000000;
}

.scientific-name-sm {
    font-size: 0.65rem;
    color: #30302E;
}

.plant-name-lg {
    padding-left: 2rem;
}

.common-name-lg {
    font-size: 1.5rem;
    color: #000000;
}

.scientific-name-lg {
    font-size: 1.03rem;
    color: #30302E;
}

/* badges display */
.plant-status {
    margin-top: auto; /* keep badges at bottom */
    padding-top: 0.5rem;
    padding-bottom: 1rem; /* spacing from bottom */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.status-sm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3rem; /* spacing between badges */
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 3rem;
}

.status-lg {
    gap: 0.7rem; /* spacing between badges */
    margin-top: 0;
    padding-left: 2rem; /* match plant-name-lg padding */
    padding-right: 2rem; /* match left padding */
    padding-bottom: 0;
    justify-content: space-between; /* badges left, buttons right */
}

.details-head {
    margin-bottom: 0;
}