/* public/css/styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #F7FEE7;
}

h2 {
  padding-left: 1.5rem;
}

h1 {
  text-align: center;
  color: #30302E;
}

hr {
  color: #777670;
}

.centered {
  text-align: center;
}

.header-light {
  color: #BCBAAF;
  font-size: 1.03rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}