/* public/main.css */

@import url('/styles.css');
@import url('/nav.css');
@import url('/buttons.css');
@import url('/filter-sort.css');
@import url('/plants.css');
@import url('/badge.css');
@import url('/medicinal.css');