/* public/plants.css */

.plant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.plant-card {
    width: 384px;
    height: 384px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
    overflow: hidden; /* keep background contained */
}

.card-img {
    width: 384px;
    height: 234px;
    object-fit: cover; /* crop image to fill space */
    object-position: center; /* centers crop */
    display: block; /* removes inline spacing below image */
    transition: filter 0.4s; /* smooth transition for filter effect */
}

.card-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit; /* keep text color */
    height: 100%; /* fill card height */
}

.plant-card:hover {
    cursor: pointer;
    background-color: #f0f0f0; 
}

.plant-card:hover .card-img {
    filter: grayscale(40%); /* slightly desturate image on hover */
}

.plant-status {
    margin-top: auto; /* push badges to bottom */
    padding-bottom: 1rem; /* spacing from bottom */
    display: flex;
    gap: 0.5rem; /* spacing between badges */
    justify-content: center;
}

.plant-name {
    padding-left: 2rem;
}

.common-name {
    font-size: 1.25rem;
}

.scientific-name {
    font-size: 1rem;
}

.badge {
    display: inline-flex;
    padding: 0.125rem 0.5rem; 
    font-size: 0.875rem; 
    background-color: #EDF2F7; 
    color: #4A5568; 
    border-radius: 0.25rem;
    transition: all 0.4s;
}

.plant-card:hover .badge {
    background-color: #E2E8F0; 
    color: #2D3748;
    transition: background-color 0.3s, color 0.3s;
}

.badge i {
    margin-right: 0.35rem; /* spacing between icon and text */
}