/* public/plants.css */

.plant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.plant-card {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden; /* keep background contained */
}

.card-img {
    width: 300px;
    height: 175px;
    object-fit: cover; /* crop image to fill space */
    object-position: center; /* centers crop */
    display: block; /* removes inline spacing below image */
    transition: filter 0.4s; /* smooth transition for filter effect */
}

.card-link {
    display: block; /* makes link fill card */
    text-decoration: none;
    color: inherit; /* inherit text color */
    height: 100%; /* fill card height */
}

hr {
    margin: 0;
}

.plant-card:hover {
    cursor: pointer;
    background-color: #f0f0f0; 
}

.plant-card:hover .card-img {
    filter: grayscale(40%); /* slightly desturate image on hover */
}

.label {
    font-size: 0.75rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 3px;
    color: #fff;
}

.stock {
    background-color: gray;
}

.quantity {
    background-color: salmon;
}

.order {
    background-color: cadetblue;
}