/* public/styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #F7FEE7;
}

h2 {
  padding-left: 1.5rem;
}

h1 {
  text-align: center;
}

.centered {
  text-align: center;
}