/* public/styles.css */

.button {
    background-color: #3b82f6; 
    color: white;
    font-weight: bold;
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    border-radius: 0.25rem; /* rounded (4px) */
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #1d4ed8;
}

.nav {
    text-align: center;
}